html {
  font-size: 16px;
}

::selection {
  background: #e69d30;
}

::-moz-selection {
  background: #e69d30;
}

.container {
  width: 1200px;
}

/*////////// media queries //////////*/
@media screen and (min-width: 900px) {
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  font-size: 20px;
}

body {
  background: #ffffff;
}

* {
  font-family: "Muli", Helvetica, Arial, sans-serif;
}

/*////////// flex-containers //////////*/
.flex-container {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}

.flex-container > .flex-column {
  flex: 1;
  padding: 0 30px;
}
/*////////// helpers //////////*/

.lst_none {
  list-style: none;
}

.txt_decor_none a {
  text-decoration: none;
}

.orange_hl {
  color: #e69d30;
}

.lt_grey {
  color: #c9c9c9;
}

/*////////// header //////////*/
nav ul {
  text-align: right;
  padding: 0;
  margin: 0;
}

nav a {
  margin: 0 0 0 3rem;
  text-decoration: none;
}

nav li {
  display: inline;
}

.header-title {
  text-decoration: none;
  color: #3b3a3a;
}

.page-top-line {
  width: 100%;
  height: 2px;
  background-color: #e69d30;
}

.header-container {
  padding: 2.8rem 0;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.header-logo {
  flex: 50%;
  font-size: 1.2rem;
}

.header-nav {
  flex: 50%;
  font-size: 1.1rem;
}

.header-subtitle {
  color: #c9c9c9;
  margin-top: 2px;
}

.header-email {
  color: #c9c9c9;
}

/*////////// body //////////*/
.body_container {
  padding: 2.8rem 0 0.5rem 0;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/*////////// footer //////////*/
footer {
  background-color: #262626;
  color: #5d5d5d;
}

.footer_container {
  padding: 2.8rem 0 0.5rem 0;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.footer_links {
  background-color: #262626;
}

.links_col {
  flex: 25%;
}

/* --title styles-- */
.header-title:link {
  color: #3b3a3a;
  transition: all 200ms linear;
}

/* visited link */
.header-title:visited {
  color: #3b3a3a;
}

/* mouse over link */
/* .header-title:hover {
  color: #e69d30;
  transition: all 200ms linear;
} */

a {
  color: #3b3a3a;
}

.colour-fade:hover {
  color: #e69d30;
  transition: all 200ms linear;
}

/* selected link */
.header-title a :active {
  color: #3b3a3a;
}

/* --nav styles-- */
.active a {
  color: #e69d30;
}

/* --email styles-- */
.header-email a:link {
  color: #c9c9c9;
  transition: all 200ms linear;
}

/* visited link */
.header-email a:visited {
  color: #c9c9c9;
}

/* mouse over link */
.header-email a:hover {
  color: #e69d30;
  transition: all 200ms linear;
}

/* selected link */
.header-email a:active {
  color: #c9c9c9;
}

/* --email styles-- */
.footer-link a:link {
  color: #5d5d5d;
  transition: all 200ms linear;
}

/* visited link */
.footer-link a:visited {
  color: #5d5d5d;
}

/* mouse over link */
.footer-link a:hover {
  color: #e69d30;
  transition: all 200ms linear;
}

/* selected link */
.footer-link a:active {
  color: #5d5d5d;
}

/*/////////// Home page Content //////////*/

.homepage-content {
  margin: 0 auto;
}

/*/////////// portfolio grid //////////*/

.portfolio-img {
  margin-bottom: 40px;
}

.h-xs-300 {
  height: 300px;
}

/*/////////// portfolio grid - hover effect //////////*/
