/*////////// reset //////////*/

/*////////// base //////////*/

html {
  font-size: 16px;
}

::selection {
  background: #e69d30;
}

::-moz-selection {
  background: #e69d30;
}

a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
}
a:visited {
  /* Applies to all visited links */
  text-decoration: none;
}
a:hover {
  /* Applies to links under the pointer */
  text-decoration: none;
}
a:active {
  /* Applies to activated links */
  text-decoration: none;
}

/*////////// media queries //////////*/

@media screen and (min-width: 900px) {
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  font-size: 20px;
}

body {
  background: #ffffff;
}

* {
  font-family: "Muli", Helvetica, Arial, sans-serif;
}

/*////////// general styles //////////*/

.lst_none {
  list-style: none;
}

.orange_hl {
  color: #e69d30;
}

.lt_grey {
  color: #c9c9c9;
}

.center-content {
  margin: 0 auto;
}

/*////////// header //////////*/

nav ul {
  text-align: right;
  padding: 0;
  margin: 0;
}

nav a {
  margin: 0 0 0 3rem;
}

nav li {
  display: inline;
}

.header-title {
  color: #3b3a3a;
}

.page-top-line {
  width: 100%;
  height: 2px;
  background-color: #e69d30;
}

.header-container {
  padding: 2.8rem 0;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.header-logo {
  flex: 50%;
  font-size: 1.2rem;
}

.header-nav {
  flex: 50%;
  font-size: 1.1rem;
}

.header-subtitle {
  color: #c9c9c9;
  margin-top: 2px;
}

.header-email {
  color: #c9c9c9;
}

/*////////// nav //////////*/

a.colour-fade:link {
  text-decoration: none;
}

a.colour-fade:visited {
  text-decoration: none;
}

a.colour-fade:hover {
  transition: all 200ms linear;
  color: #e69d30;
  text-decoration: none;
}

a.colour-fade:active {
  text-decoration: none;
}

/*////////// main //////////*/

.container {
  width: 1200px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.flex-container {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}

.flex-container > .flex-column {
  flex: 1;
  padding: 0 30px;
}

.main {
  border: dashed red;
  max-width: 1200px;
  margin: 0 auto;
}

/*////////// footer //////////*/

footer {
  background-color: #262626;
  color: #5d5d5d;
}

.footer_container {
  padding: 2.8rem 0 0.5rem 0;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.footer_links {
  background-color: #262626;
}

.links_col {
  flex: 25%;
}

/*////////// additional //////////*/
