{{ partial "header.html" . }}
<div class="main">
	<div class="hero-content">
		<h1 class="hero-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut justo lacinia, aliquam elit sed.</h1>
		<p class="hero-text">Suspendisse ac nisl vel tortor vulputate scelerisque.</p>
		<p class="hero-text">Ut quis tortor maximus, varius lacus a, mattis sapien</p>
		<p class="hero-text">Lets chat
			<a href="mailto:hey@benwhalley.co.uk">
				<span class="body-email colour-fade">hey@benwhalley.co.uk</span>
			</a>
		</p>
	</div>

	<div>
		<div class="subtitle-bar">
			<h3 class="subtitle-bar-title">Recent Work</h3>
			<h3 style="text-align: right;">View All</h3>
		</div>
		<!-- Portfolio Grid -->
		<div class="grid-wrapper">
			<div>
				<div class="bg_img" style="background-image: url( /images/IMG_695948.jpg );">
					<h1>Portfolio item 1</h1>
				</div>
			</div>
			<div>
				<div class="bg_img" style="background-image: url( /images/IMG_695948.jpg );">
					<h1>Portfolio item 2</h1>
				</div>
			</div>
			<div>
				<div class="bg_img" style="background-image: url( /images/IMG_695948.jpg );">
					<h1>Portfolio item 3</h1>
				</div>
			</div>
			<div>
				<div class="bg_img" style="background-image: url( /images/IMG_695948.jpg );">
					<h1>Portfolio item 4</h1>
				</div>
			</div>
		</div>

		<h2>Skills</h2>

		<div class="grid-wrapper">
			<div>
				<h2>Nisi voluptate quis ex cupidatat ex elit. Consequat minim quis reprehenderit eu ad nulla aliqua laboris qui id nulla.
					Amet id est laborum duis esse quis nulla amet ad laborum proident. Est sint est culpa in irure culpa exercitation occaecat.
					Commodo labore pariatur enim laboris ex laborum. Qui enim sit mollit labore sint.</h2>
			</div>
			<div>
				<h2>Communication</h2>
				<h2>Organisation</h2>
				<h2>Time Keeping</h2>
				<h2>Project Managment</h2>
			</div>
		</div>

		<div>
			<h2>Hire me</h2>
		</div>

		<!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
		{{.Content}}
	</div>
</div>
{{ partial "sidebar.html" . }} {{ partial "footer.html" . }}